.container{
				 height:100%;
				 width:0;
				 position:fixed;
				 
				 z-index: 1;
				 top:0;
				 
				 box-sizing: border-box;
				 transition: 0.5s;
				 padding-top: 60px;
				  display:block;
			}
			
			.container a{
				
				transition: 0.3s;
				color:black;
				display:block;
				padding:12px 12px 12px 32px;
				text-decoration:none;
			}
			.container a:hover{
				background-color:lightblue;
			}
	.menu .container{
    background: rgb(5, 68, 104);
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}
submit {
  background-color: rgb(5, 68, 104); /* Green */
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}