
	
	{% extends "doctor_details.html" %}
		{% block content %}
		<head>
		<style>
		.btn {
  background-color: rgb(5, 68, 104);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
		</style>
		</head>
		        <h2>{{display}}</h2>
				<h2>{{msg}}</h2>
	<form action="/doctoraccount/doctor_save" align="center" method="post">
			
			
				{% csrf_token %}
			
				
				<input type="hidden" value="{{docid}}" name="docid">
				<h4>Please Register Your Availability</h4><br><br>
				<div class="mytable">
				<table cellpadding="10" cellspacing="2" align="center">
				
				<tr><td>
					<b><label>Hospital </label></b> 
					<select name="hospitals" >
						<option value="select">select</option>
						{% for hospt in hosptdatad %}
						<option value='{{hospt.id}}'>{{hospt.hosptname}}</option>
						{% endfor %}
					</select></td>
				</tr>
				<tr>
					<td>
					<b><label> Department</label></b>
					<select name="department">
						<option value="select">select</option>
						{% for dept in deptdatad%}
						<option value='{{dept.id}}'>{{dept.deptname}}</option>
						{% endfor %}
					</select></td>
					
				</tr>
				<tr><td>
					<b><label >Availability </label></b> 
							<input type="checkbox" id="1" name="days[]" value="Monday" >Monday 
							<input type="checkbox" id="2" name="days[]" value="Tuesday">Tuesday
							<input type="checkbox" id="3" name="days[]" value="Wednesday">Wednesday
							<input type="checkbox" id="4" name="days[]" value="Thursday" >Thursday
							<input type="checkbox" id="5" name="days[]" value="Friday" >Friday
							<input type="checkbox" id="6" name="days[]" value="Saturday" >Saturday
					</td>
				</tr>
				<tr><td>
			<input type="submit" value="Save" class="btn"></td>
				</tr>
			</table>
			</div>
			
			
		</form>
	 {% endblock %}
